<!DOCTYPE html>
<html lang="en">
      {% load static %}
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Curd</title>
      <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
      <div class="container">
            <h1 class='text-center alert alert-danger mt-5'>Function Based View ModelForm Crud</h1>
            {% block content %}{% endblock content %}
      </div>

      <script src="{% static 'enroll/js/proper.js' %}"></script>
      <script src="{% static 'enroll/js/jquery.js' %}"></script>
      <script src="{% static 'enroll/js/bootstrap.js' %}"></script>

</body>
</html>